#box{
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left:-100px;
				width: 200px;
				height: 10%;
    			border-style: solid;
				border-radius: 11px;
				
				
}
#botao{
			    background-color: white;
				width: 200px;
				position: relative;
}
#combo{
				background-color: white;
				width: 200px;
				position: relative;
}
			